{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block script %}

<script>

$(document).ready(function(){
	$(".filter-checkbox").on('click', function(){
		var filter_object={};
		$(".filter-checkbox").each(function(index,ele){
			var filter_value=$(this).val();
			var filter_key=$(this).data('filter');
			console.log(filter_key,filter_value);
			filter_object[filter_key]=Array.from(document.querySelectorAll('input[data-filter='+filter_key+']:checked')).map(function(el){
			 	return el.value;
			});
		});
		$.ajax({
			url:'{% url 'filter-data' %}',
			data:filter_object,
			dataType:'json',
			success:function(res){
				$("#filteredProducts").html(res.data);
			}
		});
	});
});
</script>

<style>
   input[type=range]{
   -webkit-appearance: none;
   width:100%;
   }
   input[type=range]::-webkit-slider-runnable-track {
   width: 1000px;
   height: 5px;
   background: #FCBE00;
   border: none;
   border-radius: 3px;
   }
   input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   border: none;
   height: 16px;
   width: 16px;
   border-radius: 50%;
   background: goldenrod;
   margin-top: -5px;
   }
   input[type=range]:focus {
   outline: none;
   }
   input[type=range]:focus::-webkit-slider-runnable-track {
   background: #FCBE00;
   }
</style>

{% endblock %}

 <main>
        <!-- breadcrumb__area-start -->
        <section class="breadcrumb__area box-plr-75">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="breadcrumb__wrapper">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                  <li class="breadcrumb-item active" >Shop</li>
                                </ol>
                              </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb__area-end -->

        <!-- shop-area-start -->
        <div class="shop-area mb-20">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="product-widget mb-30">
                            <h5 class="pt-title">Product categories</h5>
                            <div class="widget-category-list mt-20">
                                <form action="#">
                                    {% for i in category %}
                                    <div class="single-widget-category">
                                        <input type="checkbox" data-filter="category" id="{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                        <label for="{{i.id}}">{{i.name}} <span>({{i.product_set.all.count}})</span></label>
                                    </div>
                                    {% endfor %}
                                </form>
                            </div>
                   </div>


                        <div class="product-widget mb-30">
                            <h5 class="pt-title">Choose Color</h5>
                            <div class="product__color mt-20">
                                <ul>
                                    {% for i in color %}
                                   <li>
                                      <a href="?colorID={{i.id}}" class="black" style="background-color:{{i.code}};"></a>
                                   </li>
                                    {% endfor %}
                                </ul>
                          </div>
                        </div>


                      <!-- for size -->
                      <!--  <div class="product-widget mb-30">
                            <h5 class="pt-title">Choose Size</h5>
                            <div class="widget-category-list mt-20">
                                <form action="#">
                                    <div class="single-widget-category">
                                        <input type="checkbox" id="choose-item-1" name="choose-item">
                                        <label for="choose-item-1">S <span>(12)</span></label>
                                    </div>
                                    <div class="single-widget-category">
                                        <input type="checkbox" id="choose-item-2" name="choose-item">
                                        <label for="choose-item-2">L <span>(60)</span></label>
                                    </div>
                                    <div class="single-widget-category">
                                        <input type="checkbox" id="choose-item-3" name="choose-item">
                                        <label for="choose-item-3">M <span>(41)</span></label>
                                    </div>
                                    <div class="single-widget-category">
                                        <input type="checkbox" id="choose-item-4" name="choose-item">
                                        <label for="choose-item-4">XXL <span>(28)</span></label>
                                    </div>
                                    <div class="single-widget-category">
                                        <input type="checkbox" id="choose-item-5" name="choose-item">
                                        <label for="choose-item-5">2XL <span>(21)</span></label>
                                    </div>
                                    <div class="single-widget-category">
                                        <input type="checkbox" id="choose-item-7" name="choose-item">
                                        <label for="choose-item-7">3XL <span>(62)</span></label>
                                    </div>
                                </form>
                            </div>
                        </div>-->


                        <div class="product-widget mb-30">
                            <h5 class="pt-title">Choose Brand</h5>
                            <div class="widget-category-list mt-20">
                                <form action="#">
                                    {% for i in brand %}
                                    <div class="single-widget-category">
                                        <input type="checkbox" data-filter="brand" id="brand-{{i.id}}" value="{{i.id}}" class="filter-checkbox">
                                        <label for="brand-{{i.id}}">{{i.name}} <span>({{i.product_set.all.count}})</span></label>
                                    </div>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="shop-banner mb-30">
                            <div class="banner-image">
                                <img class="banner-l" src="{% static 'assets/img/banner/sl-banner.jpg' %}" alt="">
                                <img class="banner-sm" src="{% static 'assets/img/banner/sl-banner-sm.png' %}" alt="">
                                <div class="banner-content text-center">
                                    <p class="banner-text mb-30">Hurry Up! <br> Free Shipping All Order Over $99</p>
                                    <a href="{% url 'product' %}" class="st-btn-d b-radius">Discover now</a>
                                </div>
                            </div>
                        </div>
                        <div class="product-lists-top">
                            <div class="product__filter-wrap">
                                <div class="row align-items-center">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="product__filter d-sm-flex align-items-center">
                                            <div class="product__col">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item" role="presentation">
                                                      <button class="nav-link active" id="FourCol-tab" data-bs-toggle="tab" data-bs-target="#FourCol" type="button" role="tab" aria-controls="FourCol" aria-selected="true">
                                                        <i class="fal fa-th"></i>
                                                      </button>
                                                    </li>
                                                    <li class="nav-item" role="presentation">
                                                      <button class="nav-link" id="FiveCol-tab" data-bs-toggle="tab" data-bs-target="#FiveCol" type="button" role="tab" aria-controls="FiveCol" aria-selected="false">
                                                        <i class="fal fa-list"></i>
                                                      </button>
                                                    </li>
                                                  </ul>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                        </div>
                        </div>
                        <div class="tab-content" id="productGridTabContent">
                            <div class="tab-pane fade  show active" id="FourCol" role="tabpanel" aria-labelledby="FourCol-tab">
                                <div class="tp-wrapper">
                                    <div class="row g-0" id="filteredProducts">
                                          {% for i in product %}
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                                            <div class="product__item product__item-d">
                                                <div class="product__thumb fix">
                                                    <div class="product-image w-img">
                                                        <a href="{{i.get_absolute_url}}">
                                                            <img src="{{i.featured_image}}" alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="product-action">
                                                        <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                                            <i class="fal fa-eye"></i>
                                                            <i class="fal fa-eye"></i>
                                                        </a>

                                                    </div>
                                                </div>
                                                <div class="product__content-3">
                                                    <h6><a href="#">{{i.product_name|truncatewords:8}}</a></h6>
                                                    <div class="rating mb-5">


                                                    </div>
                                                    <div class="price mb-10">
                                                        <span>₹ {{i.price}}</span>
                                                    </div>
                                                </div>
                                                <div class="product__add-cart-s text-center">
                                                    <a href="{% url 'cart_add' i.id %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                        Add to Cart
                                        </a>

                                                </div>
                                            </div>
                                        </div>
                                         {% endfor %}

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tp-pagination text-center">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="basic-pagination pt-30 pb-30">
                                        <nav>
                                           <ul>
                                              <li>
                                                 <a href="shop.html" class="active">1</a>
                                              </li>
                                              <li>
                                                 <a href="shop.html">2</a>
                                              </li>
                                              <li>
                                                 <a href="shop.html">3</a>
                                              </li>
                                             <li>
                                                <a href="shop.html">5</a>
                                             </li>
                                             <li>
                                                <a href="shop.html">6</a>
                                             </li>
                                              <li>
                                                 <a href="shop.html">
                                                    <i class="fal fa-angle-double-right"></i>
                                                 </a>
                                              </li>
                                           </ul>
                                         </nav>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop-area-end -->

        <!-- shop modal start -->
        {% for i in product %}
        <div class="modal fade" id="productModalId-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                <div class="modal-content">
                    <div class="product__modal-wrapper p-relative">
                        <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                        </div>
                        <div class="product__modal-inner">
                            <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{{i.product_image_set.first.image_url}}" alt="">
                                            </div>
                                        </div>
                                          {% for image in i.product_image_set.all %}
                                        <div class="tab-pane fade show" id="nav{{image.id}}" role="tabpanel" aria-labelledby="nav{{image.id}}-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{{image.image_url}}" alt="">
                                            </div>
                                        </div>
                                        {% endfor %}

                                        </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        {% for image in i.product_image_set.all %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav{{image.id}}-tab" data-bs-toggle="tab" data-bs-target="#nav{{image.id}}" type="button" role="tab" aria-controls="nav{{image.id}}" aria-selected="true">
                                                <img src="{{image.image_url}}" alt="" style="width:85px;height:85px;">
                                            </button>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="product-details.html">{{i.product_name}}</a></h4>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-10 mr-30">

                                        </div>
                                        <div class="product__add-review mb-15">

                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span>₹ {{i.price}}</span>
                                    </div>
                                    <div class="product__modal-des mt-20 mb-15">
                                        <ul>
                                            <li><a href="#">{{i.product_information|safe|truncatechars:400}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="product__stock mb-20">
                                        <span class="mr-10">Availability :</span>
                                        <span>{{i.availability}} in stock</span>
                                    </div>
                                    <div class="product__modal-form">
                                        <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <a href="{% url 'cart_add' i.id %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                        Add to Cart
                                        </a>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="product__stock mb-30">
                                        <ul>
                                            <li>
                                                <span class="sku mr-10">Model Name:</span>
                                                <span>{{i.model_name}}</span></a>
                                            </li>
                                            <li>
                                                <span class="cat mr-10">Categories:</span>
                                                <span>{{i.categories}}</span></a>
                                            </li>
                                            <li>
                                                <span class="tag mr-10">Tags:</span>
                                                <span>{{i.tags}}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop modal end -->
{% endfor %}
    </main>

{% endblock %}
