{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load product_tags %}


<!-- topsell__area-start -->
        <section class="topsell__area-1 pt-15">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-10">
                            <div class="section__title">
                                <h5 class="st-titile-d">Search Result :</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="product-bs-slider">
                        <div class="product-slider swiper-container">
                            <div class="swiper-wrapper">
                                  {% if product|length < 1 %}
                               <div class="error-area pt-80 pb-80">
                                          <div class="container">
                                        <div class="row">
                                     <div class="col-lg-12">
                                     <div class="error-info text-center">
                                           <div class="error-image text-center mb-50">
                                              <img src="{% static 'assets/img/banner/404.png' %}" alt="">
                                            </div>
                                           <div class="error-content">
                                             <h5>We Could not Find this Product</h5>
                                             <p>Sorry, the Product you've requested is not available. Please try searching for something else or return to Homepage.</p>
                                            <div class="error-button">
                                               <a href="{% url 'home' %}" class="error-btn">Return to Homepage</a>
                                                  </div>
                                             </div>
                                         </div>
                                     </div>
                                </div>
                              </div>
                              </div>

                                {% endif %}
                                 {% for i in product %}
                                <div class="product__item swiper-slide">
                                    <div class="product__thumb fix">
                                        <div class="product-image w-img">
                                            <a href="{{i.get_absolute_url}}">
                                                <img src="{{i.featured_image}}" alt="product">
                                            </a>
                                        </div>
                                        <div class="product__offer">
                                        <span class="discount">{{i.discount}}%</span>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="icon-box icon-box-1" data-bs-toggle="modal" data-bs-target="#productModalId-{{forloop.counter}}">
                                                <i class="fal fa-eye"></i>
                                                <i class="fal fa-eye"></i>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="product__content">
                                        <h6><a href="#">{{i.product_name}}</a></h6>
                                        <div class="rating mb-5">


                                        </div>
                                        <div class="price mb-10">
                                            <span>₹ {% call_sellprice i.price i.discount %}</span>&nbsp;&nbsp;<del>{{i.price}}</del>
                                        </div>

                                        <div class="progress-rate">
                                            <span>Sold:{{i.availability}}/{{i.total_quantity}}</span>
                                        </div>
                                    </div>
                                    <div class="product__add-cart text-center">
                                        <a href="{% url 'cart_add' i.id %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                        Add to Cart
                                        </a>
                                    </div>
                                </div>

                               {% endfor %}

                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="bs-button bs-button-prev"><i class="fal fa-chevron-left"></i></div>
                        <div class="bs-button bs-button-next"><i class="fal fa-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topsell__area-end -->



  <!-- shop modal start -->
       {% for i in product %}
        <div class="modal fade" id="productModalId-{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered product__modal" role="document">
                <div class="modal-content">
                    <div class="product__modal-wrapper p-relative">
                        <div class="product__modal-close p-absolute">
                            <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                        </div>
                        <div class="product__modal-inner">
                            <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{{i.product_image_set.first.image_url}}" alt="">
                                            </div>
                                        </div>
                                          {% for image in i.product_image_set.all %}
                                        <div class="tab-pane fade show" id="nav{{image.id}}" role="tabpanel" aria-labelledby="nav{{image.id}}-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{{image.image_url}}" alt="">
                                            </div>
                                        </div>
                                        {% endfor %}

                                        </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        {% for image in i.product_image_set.all %}
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="nav{{image.id}}-tab" data-bs-toggle="tab" data-bs-target="#nav{{image.id}}" type="button" role="tab" aria-controls="nav{{image.id}}" aria-selected="true">
                                                <img src="{{image.image_url}}" alt="" style="width:85px;height:85px;">
                                            </button>
                                        </li>
                                        {% endfor %}
                                        </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-content">
                                    <h4><a href="product-details.html">{{i.product_name}}</a></h4>
                                    <div class="product__review d-sm-flex">
                                        <div class="rating rating__shop mb-10 mr-30">

                                        </div>
                                        <div class="product__add-review mb-15">

                                        </div>
                                    </div>
                                    <div class="product__price">
                                        <span>₹ {{i.price}}</span>
                                    </div>
                                    <div class="product__modal-des mt-20 mb-15">
                                        <ul>
                                            <li><a href="#">{{i.product_information|safe|truncatechars:400}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="product__stock mb-20">
                                        <span class="mr-10">Availability :</span>
                                        <span>{{i.availability}} in stock</span>
                                    </div>
                                    <div class="product__modal-form">
                                        <form action="#">
                                        <div class="pro-quan-area d-lg-flex align-items-center">
                                            <div class="product-quantity mr-20 mb-25">
                                                <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                            </div>
                                            <div class="pro-cart-btn mb-25">
                                                <a href="{% url 'cart_add' i.id %}" class="cart-btn product-modal-sidebar-open-btn d-flex align-items-center justify-content-center w-100">
                                        Add to Cart
                                        </a>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="product__stock mb-30">
                                        <ul>
                                            <li>
                                                <span class="sku mr-10">Model Name:</span>
                                                <span>{{i.model_name}}</span>
                                            </li>
                                            <li>
                                                <span class="cat mr-10">Categories:</span>
                                                <span>{{i.categories}}</span>
                                            </li>
                                            <li>
                                                <span class="tag mr-10">Tags:</span>
                                                <span>{{i.tags}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- shop modal end -->
{% endfor %}

{% endblock %}