{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>

<div class="container">
  <div>
  <h3>Terms & Conditions Privacy Policies - Who we are</h3>
  <p>Our website address is: https://nathpublication.com.</p>
  </div>

  <div>
    <h3>Our policies:-</h3>
    <p>We at Nathpublication are committed to provide amazing services and products to our customers.
      Our web is www.nathpublication.com, which allows you to buy books online from the comfort of your home or office.
      We value privacy of our customers and their data, so we use cookies on this website. By using our services,
      you consent and agree that we can retain and use cookies as described in our Privacy Policy.
      We are not save any credit/debit Card details as per RBI Guidelines and also not even any bank account or UPI ID’s.
    </p>
  </div>

  <div>
    <h3>Cookies</h3>

    <p>If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.
       If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
       When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.
       If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p>
  </div>


  <div>
    <h3>
      Return & Refund Policies→</h3>
    <h4>Overview</h4>
    <p>Our refund and returns policy lasts 30 days. If 30 days have passed since your purchase, we can’t offer you a full refund or exchange.
       To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
       Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.</p>
  </div>


  <div>
    <h4>Refunds</h4>
    <p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
      If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.</p>

    <h4>Late or missing refunds</h4>
      <p>If you haven’t received a refund yet, first check your bank account again.
         Then contact your credit card company, it may take some time before your refund is officially posted.
         Next contact your bank. There is often some processing time before a refund is posted.
         If you’ve done all of this and you still have not received your refund yet, please contact us at nathpublication01@gmail.com & Contact Us @ 9999999999 </p>

    <h4>Sale items</h4>
    <p>Only regular priced items may be refunded. Sale items cannot be refunded.</p>

  </div>


  <div>
    <h3>Shipping  policies</h3>
    <p>Shipping charges extra as per book weight.& our shipping services are always good with easy to trackable. </p>
  </div>


  <div>
    <h3>Shipping returns</h3>
    <p>To return your product, you should mail your product to: {physical address}.
       You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
       Depending on where you live, the time it may take for your exchanged product to reach you may vary.
       If you are returning more expensive items, you may consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.</p>
  </div>



  <div>
    <h3>Need help?</h3>
    <p>Contact us at nathpublcation.com, nathpublication01@gmail.com for questions related to refunds and returns.</p>
  </div>


</div>







{% endblock %}